@font-face {
  font-family:  GothamPro ;
  src: url(../fonts/gothampro-black.ttf);
}
@font-face {
  font-family:  GothamProS ;
  src: url(../fonts/gothampro-medium.ttf);

}
@font-face {
  font-family: OpenSans;
  src :url(../fonts/OpenSans-Regular.ttf)
}
@font-face {
  font-family: OpenSansb;
  src :url(../fonts/OpenSans-Bold.ttf)
}
@font-face {
  font-family: OpenSansm;
  src :url(../fonts/OpenSans-Light.ttf)
}
@font-face {
  font-family: prata;
  src :url(../fonts/Prata-Regular.ttf)
}



// global units //
                $common :
                (
                        colors: (
                                primary: (
                                        darker: #142121,
                                        dark:  000000,
                                        base: #000000,
                                        light: #d8d8d8,
                                        lighter: #f5fcfc
                                ),
                                secondary: (
                                        darker: #4a051e,
                                        dark: #5b5b5b,
                                        base: #8f8f8f,
                                        light: #757575,
                                        lighter: #757575
                                ),
                                neutral: (
                                        darker: #979797,
                                        dark: #142121,
                                        base:  #000000,
                                        light: #d8d8d8,
                                        lighter: #d8d8d8
                                ),
                                "white": #fff,
                                "black": #000,
                                "error": #ff0101
                        ),
                        font-family: (
                                primary: (
                                        name:
                                        unquote(
                                                        "GothamPro, sans-serif"
                                        ),
                                        diff: (
                                                top: 0.11,
                                                bottom: 0.18
                                        )
                                ),
                                body: (
                                        name: unquote("GothamProS, sans-serif"),
                                        diff: (
                                                top: 0.14,
                                                bottom: 0.19
                                        )
                                )
                        ),
                        font-ratio: 1,
                        font-sizes: (
                                xxxs: 12px,
                                xxs: 14px,
                                xs: 16px,
                                s: 20px,
                                m: 24px,
                                l: 38px,
                                xl: 48px,
                                xxl: 65px,
                                xxxl: 72px
                        ),
                        spacings: (
                                xxxs: 3px,
                                xxs: 5px,
                                xs: 10px,
                                s: 15px,
                                m: 30px,
                                l: 40px,
                                xl: 50px,
                                xxl: 80px,
                                xxxl: 120px
                        ),

                        transitions: (
                                speed: (
                                        slow: 0.6s,
                                        base: 0.3s,
                                        fast: 0.15s
                                ),
                                stagger: (
                                        slow: 0.12s,
                                        base: 0.08s,
                                        fast: 0.04s
                                ),
                                ease: cubic-bezier(0.55, 0, 0.1, 1)
                          // material design ease out calculation
                        )
                ))

// base configurations //

                $common:
                (
                        background: (
                                body: (
                                        background-color: color("white")
                                )
                        ),
                        text: (
                                body: (
                                        text-transform: none,
                                        font-style: normal,
                                        text-align: left,
                                        color: color("black"),
                                        font-family: "body",
                                        font-size: ("xxs"),
                                        font-weight: normal,
                                        line-height: 1.5
                                )
                        )
                )



