* {
  margin: 0;
  box-sizing: border-box;
}
nav {

  #navbarSupportedContent {

    ul.navbar-nav {
      margin-right: 40px!important;
      li {
        a {
        border: 1px solid black;

        }

      }




    }
  }
}
